.my-body{
    /*padding-top: 7mm;*/
    padding-bottom: 2cm;
}
.my-main {
    box-shadow: 0px 0px 0px grey;
    margin:0 auto;
}
.my-toplanguage {
    }
.my-languageimg {
    box-shadow: 0px 0px 5px grey;
}

/*TOPBAR*/
#topbar {
    background-color: #1250b5
}

/*CENTER*/
#indexp {
    position: relative;
}
#indexc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}

.my-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #000000;
    background-color: #5c8cdb
}
.my-button:hover {
    background-color: #1250b5
}

.my-dropdown {
    position: relative;
    display: inline-block;
}

.my-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    width:100%;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    overflow:hidden;
}


.my-dropdown:hover .my-dropdown-content {
    display: block;
}

.my-languagebar {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
