.my-title
{
    /*top:0;*/
    /*right:0;*/
    /*left:0;*/
    width:100%;
    max-width: 1600px;
}​

.my-title-m
{
    /*top:0;*/
    /*right:0;*/
    /*left:0;*/
    width:100%;
    max-width: 1600px;
}​
