.my-d-color {
    background-color: #313131;
    color: #ffffff;
}
.my-l-color {
    background-color: #e2e2e2;
    color: #000000
}
.my-black {
    background-color: #000000;
    color: #ffffff;
}

.my-main {
    box-shadow: 0px 0px 0px grey;
    margin:0 auto;
}

/*CENTER*/
#indexp {
    position: relative;
}
#indexc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}

.my-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #000000;
    background-color: #5c8cdb;
    font-size: 20px;
    width:100%;
    text-decoration: none;
}
.my-button:hover {
    background-color: #1250b5;
    color: #ffffff
}

img {
    height: auto;
    max-width: 100%;
}

p {
    font-size: 16px;
}

.my-divider {
    width:100%;
    padding: 3px 0px 3px 0px;
}
.my-divider-in {
    height:2px;
    width:100%;
}

.my-page {
    padding: 16px 0px 16px 0px;
}

.my-full-width-text {
    width: 80%;
    max-width: 1368px;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}

.my-pass {
    width: calc(1368px*0.3) !important;
    border-radius: 20px;
    border: 5px solid;
    padding: 20px;
}
