.my-slide {
    display:none;
    padding-left:32;
    padding-right:32;
}

.my-slide-button {
    height:inherit;
    width:7.5%;
    min-width: 20px;
}
.my-slide-button:hover {
    background-color: #5c8cdb;
    color: #000000
}

.my-slide-image {
    width:100%
}
